* {
  	background-color: gray
}

@font-face {
	font-family: 'New Tegomin', serif;
	src: url(https://fonts.gstatic.com/s/newtegomin/v1/SLXMc1fV7Gd9USdBAfPlqfNxK2pvgUFtMW35ve9SGy2R4kkIFyDSKQ.2.woff2) format('woff2');
}

section {
	font-size: 1.2em;
	padding: 1%;
	font-family: 'New Tegomin', serif;
}

div{
	white-space: pre-wrap;
	background-color: white;
	padding: 2%;
	text-align: justify;
}

h1 {
	color:white;
	text-align:center;
	font-size: 2.5em;
}

h2 {
	color:maroon;
	margin-left: 50%;
	margin-right: auto%;
	/*font-size: inherit;*/
	font-size: 1.2em;
	
	border:1px solid black;
	border-radius: 5px;
	padding: auto;
	background-color: #E0FFFF;

}

.grid {
  display: grid;
  grid-gap: 3%;

}

.grid-item {
  background-color: white;
  border: 1px solid black
}

.first {
	background-color: #ffffe6;
}	

.h2_1{
	background-color: #fff2e7;
}

.second {
	background-color: #ffffe6;
}

.h2_2{
	background-color: #e6ffe6;
}

.third {
	background-color: #ffffe6;
}

.h2_3{
	background-color: #e6ffff;
}


@media(min-width: 992px) {
	.grid {
		grid-template-columns: 31.4% 31.4% 31.4%;
		
	}
}

@media (max-width: 991px) and (min-width: 768px) {
	.grid {
		grid-template-columns: 50%;
	}

	.first {
		grid-area: first;
	}	

	.second {
		grid-area: second;
	}

	.third {
		grid-area: third;
	}

	.grid {
		grid-template-areas:"first second"
							"third third";
	}

}

@media (max-width: 768px) {
	.grid{
		grid-template-columns: 100%;
	}
}